


<div style="text-align: center; margin-top: 150px;">
  <%= link_to (image_tag url = "https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Amazon_logo_plain.svg/1204px-Amazon_logo_plain.svg.png", size: "50%"), authors_index_path %>
</div>
